body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-bottom: 10px;
}

.container{
    width: 500px;
    height: 500px;
    background-color: gray;
    border: black solid 2px;
    display: flex;
    flex-wrap: wrap;
}

.container div{
    width: 6.25%;
    height: 6.25%;
    box-sizing: border-box;
}